.form-page {
    padding: 50px 70px;
    background-color: #f4f4f4;
    margin-left: 180px;
    border-radius: 5px;
    width: 700px;
}

.form-page__title {
    margin: 0 0 20px 0;
    font-size: 49px;
    font-weight: 900;
}

.form-page__block {
    font-size: 14px;
    font-weight: 100;
}

.form-page__row {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.form-page__element {
    margin-right: 20px;
    flex: 1;
}

.form-page__element-title {
    margin-bottom: 10px;
    cursor: pointer;
}

.form-page__input {
    padding: 12px 0 12px 7px;
    font-size: 14px;
    font-weight: 100;
    border: none;
    outline:none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: border-color 0.5s;
}

.form-page__input:focus {
    border-color: #5972b1;
}

.form-page__input--textarea {
    padding: 5px 0 0 8px;
    resize: none;
    height: 90px;
}

.form-page__selection {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.form-page__radio {
    margin: 0 2px 0 0;
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #cacaca;
    transition: border 0.1s;

}

.form-page__radio:checked {
    border: 5px solid #5972b1;
}

.form-page__buttons-row {
    display: flex;
}

.form-page__do {
    padding: 10px 40px 10px 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1.5px;
    background-color: #5972b1;
    color: white;
    border: none;
    border-radius: 5px;
    background-image: url(/IMGs/arrow_white.png);
    background-repeat: no-repeat;
    background-position:right 20px center;
    transition: 0.5s;
}


.form-page__do:hover {
    color: #5972b1;
    background-color: white;
    background-image: url(/IMGs/arrow_blue.png);
}



